In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st



# Study data files
russia_alcohol = "Data/russia_alcohol.csv"
gdp_data = "Data/gdp.csv"
unemployment_data = "Data/russia-unemployment copy.csv"
russia_geo = "Data/russian_geo.csv"

# Read CSV
alc_df = pd.read_csv(russia_alcohol)
unemp_df = pd.read_csv(unemployment_data)

In [5]:
# cleaning data
# renaming column and averaging months into year
# Study data files
clean_unemp = unemp_df.dropna(axis=1)
clean_unemp.columns=["Year","Unemployment Rate (%)"]
clean_unemp['Year']= pd.to_datetime(clean_unemp['Year']).dt.strftime('%Y')

# change null values to 0
clean_alc = alc_df.dropna()
# add in a total per region
clean_alc["Total"] = clean_alc["wine"] + clean_alc["beer"] + clean_alc["vodka"] + clean_alc["champagne"] + clean_alc["brandy"]
alc_year = clean_alc.groupby(clean_alc["year"]).sum()


# Determine sum of alcohol consumed in each region
alc_region = clean_alc.groupby(clean_alc["region"]).sum()
alc_region_clean = alc_region.drop(['year'], axis=1)

clean_alc

/var/folders/87/nmk_68vs7qj6gqk19c14l5r40000gn/T/ipykernel_9696/3929234087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_unemp['Year']= pd.to_datetime(clean_unemp['Year']).dt.strftime('%Y')
/var/folders/87/nmk_68vs7qj6gqk19c14l5r40000gn/T/ipykernel_9696/3929234087.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_alc["Total"] = clean_alc["wine"] + clean_alc["beer"] + clean_alc["vodka"] + clean_alc["champagne"] + clean_alc["brandy"]

,year,region,wine,beer,vodka,champagne,brandy,Total
0,1998,Republic of Adygea,1.9,8.8,3.4,0.3,0.1,14.5
1,1998,Altai Krai,3.3,19.2,11.3,1.1,0.1,35.0
2,1998,Amur Oblast,2.1,21.2,17.3,0.7,0.4,41.7
3,1998,Arkhangelsk Oblast,4.3,10.6,11.7,0.4,0.3,27.3
4,1998,Astrakhan Oblast,2.9,18.0,9.5,0.8,0.2,31.4
...,...,...,...,...,...,...,...,...
1610,2016,Chuvash Republic,5.0,42.3,7.7,0.7,0.4,56.1
1611,2016,Chukotka Autonomous Okrug,3.9,34.0,11.6,1.8,1.1,52.4
1612,2016,Sakha (Yakutia) Republic,4.3,56.1,8.2,1.8,0.5,70.9
1613,2016,Yamalo-Nenets Autonomous Okrug,4.5,75.8,8.2,1.7,1.3,91.5
1614,2016,Yaroslavl Oblast,10.2,38.0,8.9,1.4,1.0,59.5

In [8]:
clean_unemp.head(10)

   Year  Unemployment Rate (%)
0  1991                  5.405
1  1992                  5.180
2  1993                  5.880
3  1994                  8.130
4  1995                  9.450
5  1996                  9.670
6  1997                 11.810
7  1998                 13.260
8  1999                 13.040
9  2000                 10.580

In [9]:
clean_unemp.dropna

<bound method DataFrame.dropna of     Year  Unemployment Rate (%)
0   1991                  5.405
1   1992                  5.180
2   1993                  5.880
3   1994                  8.130
4   1995                  9.450
5   1996                  9.670
6   1997                 11.810
7   1998                 13.260
8   1999                 13.040
9   2000                 10.580
10  2001                  8.980
11  2002                  7.880
12  2003                  8.210
13  2004                  7.760
14  2005                  7.120
15  2006                  7.060
16  2007                  6.000
17  2008                  6.210
18  2009                  8.300
19  2010                  7.370
20  2011                  6.540
21  2012                  5.440
22  2013                  5.460
23  2014                  5.160
24  2015                  5.570
25  2016                  5.560
26  2017                  5.210
27  2018                  4.850
28  2019                  4.500
29  2020                  5.590
30  2021                  5.010>